$black: #474747;
$blue: #1988ba;
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,ul,p{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none !important;
}
[class^="icon-"]::before,[class*="icon-"]::before{
	position: relative;
	top: .14em;
	margin-right: .3em;
}
@mixin sombraCapa() {
    position: absolute;
    background-color: rgba(black, .5);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
@mixin iconHome() {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    opacity: .5;
}
.header{
    position: relative;
    &__top{
        padding: 4px 0;
        .flex{
            display: flex;
            justify-content: flex-end;
            @media (max-width:991px){
                // flex-direction: row-reverse;
                display: block;
                width: 160px;
                float: right;
                text-align: center;
                padding-top: 12px;
            }
        }
        background-color: $black;
        color: #FFF;
        i{
            color: $blue;
        }
        @media (max-width:991px){
            height: 80px;;
        }
    }
    &__email, &__phone{
        margin-right: 1.5em;
        align-self: center;
    }
    &__phone{
        font-size: 14px;
        @media (max-width:991px){
            font-size: 1em;
            margin-bottom: 4px;
        }
    }
    &__email{
        font-size: 14px;
        @media (max-width:991px){
            display: none;
        }
    }
    &__fb{
        // padding-top: 5px;
        margin-right: 1.5em;
        font-size: 23px;
        align-self: center;
        i{
            transition: 1s color ease 0s;
        }
        &:hover i{
            color: #FFF;
        }
        @media (max-width:991px){
            display: none;
        }
    }
    &__es,
    &__en{
        margin-right: .5em;
        display: inline-block;
        height: 22px;
        padding: 0 .5em;
        align-self: center;
        width: 30px;
    }
    &__es{
        background-color: $blue;
        color: #FFF;
    }
    &__en{
        background-color: #FFF;
        color: $black;
    }
    &__menu{
        background-color: #FFF;
        .flex{
            display: flex;
            justify-content: space-between;
        }
    }
    &__logo{
        &__wrap{
            position: absolute;
            top: 0;
            max-width: 200px;
            text-align: center;
            z-index: 1;
            @media (max-width:750px){
                max-width: 100%;
            }
            span{
                display: block;
                font-weight: 300;
                padding-top: 8px;
                color: #FFF;
                font-size: 14px;
                @media (max-width:991px){
                    display: none;
                }
            }
            &--position{
                position: relative;
            }
        }
    }
    &__nav{
        width: 40%;
        #btnMovil{
			display: none;
			& + label{
				display: none;
			}
		}
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                a{
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    padding: .7em 0;
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
    }
}
.home{
    .mySlides{
        height: 70vh;
        position: relative;
        width: 100%;
        z-index: -1;
        &__slidercito{
            position: absolute;
            width: 100%;
            height: 100%;
            li{
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                height: 100%;
                width: 100%;
            }
        }
        &::before{
            position: absolute;
            background-image: url('img/ola.svg');
            bottom: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 105%;
            z-index: 992;
        }
        &::after{
            position: absolute;
            background-color: rgba(black, .2);
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 991;
        }
        &__title{
            position: absolute;
            max-width: 650px;
            font-size: 50px;
            padding: 10% 0 0 50px;
            color: #FFF;
            z-index: 992;
            text-shadow: 6px 6px 5px rgba(black, .5);
            span{
                display: block;
                font-size: 30px;
                @media (max-width:991px){
                    font-size: 30px;
                }
                @media (max-width:768px){
                    font-size: 16px;
                }
            }
            @media (max-width:991px){
                font-size: 45px;
                padding: 100px 0 0 50px;
            }
            @media (max-width:768px){
                font-size: 24px;
                padding: 100px 0 0 50px;
            }
        }
    }
    &__services{
        position: relative;
        margin-top: -250px;
        z-index: 1;
        @media (max-width:991px){
            margin-top: -200px;
        }
    }
    &__items{
        display: block;
        transition: .5s transform ease 0s;
        &:hover .home__items__img::after{
            transform: scale(1.1);
        }
        &:hover{
            transform: translateY(-10px);
        }
        &__title{
            background-color: rgba(black, .5);
            color: #FFF;
            font-size: 22px;
            text-align: center;
            font-weight: 500;
            text-shadow: 5px 5px 5px rgba(black, .5);
            padding: 10px 0;
            &--trans{
                padding: 27px;
            }
        }
        &__img{
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 222px;
            &--height{
                height: 350px;;
            }
            &::before{
                position: absolute;
                background-image: url('img/ola.svg');
                content: '';
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 106%;
            }
            &::after{
                transition: all ease 1s;
                transition: 1s transform ease 0s;
            }
            &--1{
                background-image: url('img/servicio-01.jpg');
                &::before{
                   @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-01.png');
                }
            }
            &--2{
                background-image: url('img/servicio-02.jpg');
                &::before{
                    @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-02.png');
                }
            }
            &--3{
                background-image: url('img/servicio-03.jpg');
                &::before{
                    @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-03.png');
                }
            }
            &--4{
                background-image: url('img/servicio-04.jpg');
                &::before{
                    @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-04.png');
                }
            }
        }
    }
}
.nosotros{
    &__banner{
        position: relative;
        height: 400px;
        background-image: url('img/nosotros.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &::before{
            position: absolute;
            background-image: url('img/ola.svg');
            bottom: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 105%;
            z-index: 1;
        }
        &::after{
            position: absolute;
            background-color: rgba(black, .2);
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
        }
        &__title{
            position: relative;
            color: #FFF;
            text-align: center;
            padding-top: 130px;
            z-index: 1;
            font-size: 45px;
            text-shadow: 4px 4px 5px rgba(black, .5);
        }
        &--services{
            background-image: url('img/servicio.jpg');
        }
        &--contacto{
            background-image: url('img/contacto.jpg');
        }
    }
    &__img{
        display: block;
        margin: 0 auto;
    }
    &__p{
        padding: 1em 7em;
        text-align: center;
        line-height: 2;
        font-size: 16px;
        margin-bottom: 50px;
        @media (max-width:750px){
            padding: 0;
        }
    }
    &__iconsList{
        // margin: 6em 0 0 0;
        &__wrap{
            margin-bottom: 2em;
        }
        &__icon{
            // max-width: 120px;
            // padding-right: 1em;
            text-align: right;
        }
        &__iconText{
            font-size: 16px;
            // max-width: 340px;
            line-height: 1.6;
            h4{
                margin-bottom: 8px;
                color: $blue;
            }
        }
    }
    &__full{
        position: relative;
        display: flex;
        background-color: $blue;
        min-height: 500px;
        &:before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-image: url('img/ola-white.svg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: 105%;
            z-index: 999;
        }
        @media (max-width:750px){
            display: block;
            height: auto;
        }
    }
    &__50{
        width: 50%;
        &--bg{
            background-image: url('img/nosotros-man.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            &:before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(black, .2);
            }
            @media (max-width:750px){
                height: 200px;
            }
        }
        h3{
            font-size: 25px;
            text-align: center;
            margin: 2em 0;
            color: #FFF;
            @media (max-width:750px){
                margin: 1em 0;
            }
        }
        &--text{
            padding: 4em;
            color: #FFF;
            line-height: 2;
            @media (max-width:750px){
                padding: 1.5em;
                text-align: justify;
            }
        }
        @media (max-width:750px){
            width: 100%;
        }
    }
}
.services{
    &__title{
        color: $blue;
        text-align: center;
        font-size: 30px;
    }
    &__subTitles{
        color: $blue;
        font-weight: 400;
        margin-bottom: 1em;
    }
    &__text{
        padding-left: 4.5em;
        &--padding{
            padding-right: 4.5em;
            @media (max-width:767px){
                padding: 1em;
            }
        }
        @media (max-width:767px){
            padding: 1em;
        }
    }
    &__a{
        display: block;
        margin-top: 1.5em;
        color: #FFF !important;
        text-align: center;
        padding: .5em 0;
        background-color: $blue;
        transition: 1s background-color ease 0s;
        &:hover{
            background-color: $black;
        }
    }
    &__items{
        padding: 3em 0;
        border-bottom: 1px solid $black;
        &:last-child{
            border-bottom: none;
        }
    }
}
.carga{
    background-color: #e8e8e8;
    background-image: url('img/carga-internacional.png');
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 680px;
    &--agenciamiento{
        background-image: url('img/agenciamiento-de-aduanas.png');
    }
    &--transporte{
        background-image: url('img/transporte.png');
    }
    &--ferias{
        background-image: url('img/ferias.png');
    }
    &__content{
        margin-top: 5em;
        text-align: center;
        h1{
            color: $blue;
            margin-bottom: 1em;
        }
        @media (max-width:991px){
            background-color: rgba(#FFF,.8);
            padding: 1.5em;
        }
    }
    &__text{
        line-height: 1.5;
        text-align: justify;
    }
    &__ul{
        padding: 0 3em;
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin-top: 3em;
    }
    &__a{
        display: block;
        border: 3px solid $blue;
        padding: 1em 0;
        font-size: 14px;
        font-weight: bold;
        max-width: 250px;
        margin: 0 auto;
        margin-top: 4em;
        transition: 1s background-color ease 0s;
        &:hover{
            background-color: $blue;
            color: #FFF;
        }
    }
}
.servicesItems{
    &__others{
        margin: 4em auto;
        &__title{
            color: $blue;
            text-align: center;
            font-size: 25px;
            margin-bottom: 1.5em;
        }
    }
}
.contacto{
    &__ul{
        li{
            list-style: none;
            font-size: 18px;
            margin-bottom: 2em;
        }
        h4{
            color: $blue;
            font-size: 25px;
        }
    }
    &__form{
        h4{
            color: $blue;
            font-size: 25px;
            text-align: center;
        }
        input,textarea{
            width: 100%;
            padding: .5em;
            margin: .5em 0;
        }
        button{
            background-color: $blue;
            color: #FFF;
            width: 100%;
            border: 0;
            padding: .5em;
        }
    }
    &__map{
        margin: 2em 0;
    }
}
.pie{
    padding: 2em;
    background-color: #000;
    &--white{
        background-color: #FFF;
    }
    @media (max-width:750px){
        padding: 1em;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        @media (max-width:750px){
            display: block;
        }
    }
    &__title{
        font-weight: 400;
        font-size: 30px;
        color: $blue;
        align-self: center;
        padding-left: 2em;
        @media (max-width:750px){
            padding: 0;
            font-size: 25px;
            text-align: center;
        }
    }
    &__icons{
        align-self: center;
        padding-right: 2em;
        @media (max-width:750px){
            display: none;
        }
    }
    &__a{
        background-color: $black;
        width: 142px;
        text-align: center;
        align-self: center;
        padding: 1em;
        color: #FFF !important;
        font-size: 14px;
        transition: 1s background-color ease 0s;
        &:hover{
            background-color: $blue;
        }
        @media (max-width:750px){
            display: block;
            margin: 1em auto;
        }
    }
}
.footer{
    background-color: $blue;
    background-image: url('img/olas-footer.png');
    background-repeat: no-repeat;
    background-position: right;
    color: #FFF;
    i{
        color: #000;
        font-size: 1.1em;
    }
    &__datos{
        margin-top: 2em;
        li{
            list-style: none;
            margin: 1.5em 0;
        }
    }
    &__title{
        margin: 1.5em 0 1em 0;
        font-size: 20px;
    }
    &__menu{
        margin-bottom: 2em;
        li{
            list-style: none;
            margin: .5em 0;
            &::before{
                content: "■ ";
                color: #000;
                
                margin-right: 10px;
            }
        }
    }
    &__fb{
        color: #FFF; 
        text-align: center;
        margin-top: 4em;
        a{
            color: #FFF !important;
        }
        i{
            display: block;
            color: #FFF;
            text-align: center;
            font-size: 2em;
            transition: 1s color ease 0s; 
            &:hover{
                color: #000;
            }
            @media (max-width:750px){
                text-align: left;
            }
        }
        @media (max-width:750px){
            text-align: left;
            margin: 2em 0;
        }
    }
    &__pie{
        background-color: $black;
        font-size: 14px;
        padding: 8px 0;
        &__copy{
            span{
                color: $blue;
            }
        }
        &__tag{
            text-align: right;
            a{
                color: #FFF;
                font-weight: bold;
            }
        }
    }
}
@media (max-width:991px){
    .header{
		#btnMovil + label{
			display: block !important;
		    background-color: #FFF;
		    box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 0.8);
		    width: 60px;
		    height: 60px;
		    border-radius: 50%;
		    padding: 15px 15px;
		    position: fixed;
		    bottom: 4rem;
		    z-index: 3;
		    right: 1.5rem;
		    font-size: 2em;
			img{
				display: block;
				margin: .1em auto;
				// width: 30px;
			}
			&:hover{
				cursor: pointer;
			}
		}
		&__nav{
			ul{
				flex-direction: column;
				position: fixed;
				width: 150px;
				right: -50%;
				z-index: 2;
				transition: all .5s;
				bottom: 9rem;
				li{
					border-right: 0 !important;
					display: block;
					&:nth-child(1){
						border-left: 0 !important;
					}
				    a{
				    	padding: 1.25rem !important;
                        text-transform: capitalize !important;
                        display: block;
				    }
				}
			}
		}
		#btnMovil:checked ~ ul{
			background-color: white;
			cursor: pointer;
			right: 1rem;
			box-shadow: 2px 4px 40px 0px rgba(black,.7);
			overflow: auto;
		}
	}
}