$black: #474747;
$blue: #1988ba;
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4{
    margin: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none !important;
}
[class^="icon-"]::before,[class*="icon-"]::before{
	position: relative;
	top: .14em;
	margin-right: .3em;
}
@mixin sombraCapa() {
    position: absolute;
    background-color: rgba(black, .5);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
@mixin iconHome() {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    opacity: .5;
}
.header{
    position: relative;
    &__top{
        min-height: 37px;
        .flex{
            display: flex;
            justify-content: flex-end;
            @media (max-width:991px){
                // flex-direction: row-reverse;
                display: block;
                width: 160px;
                float: right;
                text-align: center;
                padding-top: 12px;
            }
        }
        background-color: $black;
        color: #FFF;
        i{
            color: $blue;
        }
        @media (max-width:991px){
            height: 80px;;
        }
    }
    &__email, &__phone{
        margin-right: 1.5em;
        align-self: center;
    }
    &__phone{
        @media (max-width:991px){
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }
    &__email{
        @media (max-width:991px){
            display: none;
        }
    }
    &__fb{
        margin-right: 1.5em;
        font-size: 1.8em;
        align-self: center;
        i{
            transition: 1s color ease 0s;
        }
        &:hover i{
            color: #FFF;
        }
        @media (max-width:991px){
            display: none;
        }
    }
    &__es,
    &__en{
        margin-right: .5em;
        display: inline-block;
        height: 22px;
        padding: 0 .5em;
        align-self: center;
        width: 30px;
    }
    &__es{
        background-color: $blue;
        color: #FFF;
    }
    &__en{
        background-color: #FFF;
        color: $black;
    }
    &__menu{
        background-color: #FFF;
        .flex{
            display: flex;
            justify-content: space-between;
        }
    }
    &__logo{
        &__wrap{
            position: absolute;
            top: 0;
            max-width: 200px;
            text-align: center;
            z-index: 1;
        }
        span{
            display: block;
            font-weight: 300;
            padding-top: 8px;
            color: #FFF;
            @media (max-width:991px){
                display: none;
            }
        }
    }
    &__nav{
        width: 40%;
        #btnMovil{
			display: none;
			& + label{
				display: none;
			}
		}
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                a{
                    font-size: 16px;
                    font-weight: 600;
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
    }
}
.home{
    &__banner{
        background-image: url('img/banner-01.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 70vh;
        position: relative;
        &::before{
            position: absolute;
            background-image: url('img/ola.svg');
            bottom: 0;
            content: '';
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 105%;
            z-index: 1;
        }
        &::after{
            position: absolute;
            background-color: rgba(black, .2);
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
        }
        &__title{
            position: relative;
            max-width: 650px;
            font-size: 50px;
            padding: 10% 0 0 50px;
            color: #FFF;
            z-index: 1;
            text-shadow: 6px 6px 5px rgba(black, .5);
            span{
                display: block;
                font-size: 30px;
                @media (max-width:991px){
                    font-size: 16px;
                }
            }
            @media (max-width:991px){
                font-size: 20px;
                padding: 100px 0 0 50px;
            }
        }
    }
    &__services{
        position: relative;
        margin-top: -250px;
        z-index: 1;
        @media (max-width:991px){
            margin-top: -200px;
        }
    }
    &__items{
        display: block;
        transition: .5s transform ease 0s;
        &:hover .home__items__img::after{
            transform: scale(1.1);
        }
        &:hover{
            transform: translateY(-10px);
        }
        &__title{
            background-color: rgba(black, .5);
            color: #FFF;
            font-size: 22px;
            text-align: center;
            font-weight: 500;
            text-shadow: 5px 5px 5px rgba(black, .5);
            padding: 10px 0;
            &--trans{
                padding: 27px;
            }
        }
        &__img{
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 222px;
            &::before{
                position: absolute;
                background-image: url('img/ola.svg');
                content: '';
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: 106%;
            }
            &::after{
                transition: all ease 1s;
                transition: 1s transform ease 0s;
            }
            &--1{
                background-image: url('img/servicio-01.jpg');
                &::before{
                   @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-01.png');
                }
            }
            &--2{
                background-image: url('img/servicio-02.jpg');
                &::before{
                    @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-02.png');
                }
            }
            &--3{
                background-image: url('img/servicio-03.jpg');
                &::before{
                    @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-03.png');
                }
            }
            &--4{
                background-image: url('img/servicio-04.jpg');
                &::before{
                    @include sombraCapa();
                }
                &::after{
                    @include iconHome();
                    background-image: url('img/icon-04.png');
                }
            }
        }
    }
}
.pie{
    padding: .5em;
    & > .flex{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-weight: 400;
        font-size: 30px;
        color: $blue;
        align-self: center;
        padding-left: 2em;
    }
    &__icons{
        align-self: center;
        padding-right: 2em;
    }
}
@media (max-width:991px){
    .header{
		#btnMovil + label{
			display: block !important;
		    background-color: #FFF;
		    box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 0.8);
		    width: 60px;
		    height: 60px;
		    border-radius: 50%;
		    padding: 15px 15px;
		    position: fixed;
		    bottom: 4rem;
		    z-index: 3;
		    right: 1.5rem;
		    font-size: 2em;
			img{
				display: block;
				margin: .1em auto;
				// width: 30px;
			}
			&:hover{
				cursor: pointer;
			}
		}
		&__nav{
			ul{
				flex-direction: column;
				position: fixed;
				width: 150px;
				right: -50%;
				z-index: 2;
				transition: all .5s;
				bottom: 9rem;
				li{
					border-right: 0 !important;
					display: block;
					&:nth-child(1){
						border-left: 0 !important;
					}
				    a{
				    	padding: 1.25rem !important;
						text-transform: capitalize !important;
				    }
				}
			}
		}
		#btnMovil:checked ~ ul{
			background-color: white;
			cursor: pointer;
			right: 1rem;
			box-shadow: 2px 4px 40px 0px rgba(black,.7);
			overflow: auto;
		}
	}
}